body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rounded-circle {
  border-radius: 50% !important;
  height: 151px;
  width: 151px;
  border: 1px solid rgb(204, 204, 204);
  margin-top: -79px;
}

.rounded-circle-pic {
  border-radius: 50% !important;
  border: 10px solid white;
  height: 149px;
  width: 149px;
}

.card-img {
  background-image: radial-gradient(rgb(58, 115, 153), rgb(26, 75, 114));
  height: 150px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.card-text {
  font-size: 1rem;
  color: rgb(136, 136, 136);
  margin-top: 10px;
}

.button-connect {
  margin-top: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main-col {
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: rgb(85 85 85) 5px 5px 10px;
}

.card {
  margin: 10px;
}

.close {
  border: 0px;
  border-radius: 50%;
  margin: 12px;
  width: 45px;
  height: 45px;
}

.close-toggle {
  display: none;
}
.card:hover .close-toggle {
  display: block;
}
